<div class="block notice">
  <h3>Howdy neighbor...</h3>
  <div class="content">
    <p>
    	This is the Launch Point Church website administration page.<br/><br/>
    	<h2>Don't forget to logout when you are finished making changes!</h3>
    </p>
  </div>
</div>
<div class="block">
  <h3>Site Areas</h3>
  <ul class="navigation">
    <li><%= link_to "Pages", pages_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Life Groups", lifegroups_path %></li>
    <li><%= link_to "Blog", posts_path %></li>
    <li><%= link_to "Blurbs", blurbs_path %></li>
    
  </ul>
</div>