<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", lifegroups_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_lifegroup_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", lifegroup_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.lifegroup.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</b>
          <%= @lifegroup.title %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.lifegroup.when", :default => t("activerecord.labels.when", :default => "When")) %>:</b>
          <%= @lifegroup.when %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.lifegroup.location", :default => t("activerecord.labels.location", :default => "Location")) %>:</b>
          <%= @lifegroup.location %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.lifegroup.content", :default => t("activerecord.labels.content", :default => "Content")) %>:</b>
          <%= safe @lifegroup.content %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_lifegroup_path(@lifegroup), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), lifegroup_path(@lifegroup), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>