



<h2><%= @page.title %></h2>

<% if @page.title == "Life Groups"  %>
<table id="grid">
<thead>
	<th data-field="title">Group</th>
	<th data-field="when">When</th>
	<th data-field="location">Where</th>
	<th data-field="content">Notes</th>
</thead>
<tbody>
	<% @lifegroups.each do |lifegroup| %>
	<tr>	
		<td><%= lifegroup.title %></td>		
		<td><%= safe lifegroup.when %></td>
		<td><%= safe lifegroup.location %></td>
		<td><%= safe lifegroup.content %></td>
	</tr>	
	<% end %>
</table>
<% end %>
</tbody>

<p><%= safe @page.content %></p>