<!DOCTYPE html>
<html>
<head>
  <title>Launch Point Church - Administration</title>
  

  <%= stylesheet_link_tag "application-all" %> 
  <%= stylesheet_link_tag "web-app-theme/base" %> 
  <%= stylesheet_link_tag "web-app-theme/themes/drastic-dark/style" %> 
  <%= stylesheet_link_tag "stylesheets/admin/web-app-theme/override.css" %> 
  <%= javascript_include_tag 'jquery.min.js' %> 
  <%= javascript_include_tag 'kendo.all.min.js' %> 
  
  
  
   
  <%= csrf_meta_tag %>
   <script type="text/javascript">
   	$(document).ready(function(){   		
      	$("#editor").kendoEditor({
         	encoded: false
      });
  	});
   </script>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Launch Point Church</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
          <li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :method => :delete, :class => "logout" %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Launch Point Church.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
    
  
</body>
</html>
